<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenshu.system.business.bloc.base.mapper.BlocStaffKindergartenMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bloc_id, kindergartenl_id, bloc_staff_id, create_by, create_time, update_by, update_time, del_flag
    </sql>

</mapper>
