package ${packageName}.domain.vo;

import com.fasterxml.jackson.annotation.JsonFormat;
import com.zhenshu.common.xss.Xss;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import java.io.Serializable;
import java.util.Date;
import java.time.LocalDateTime;
import java.time.LocalDate;
import java.time.LocalTime;


/**
 * @author ${author}
 * @version 1.0
 * @date ${datetime}
 * @desc ${table.tableComment}修改入参
 */
@Data
@ApiModel(description = "${table.tableComment}修改入参")
public class ${ClassName}EditVO  implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    #if(!$column.fixed && ($column.isEdit == 1 || $column.isPk == 1))
    /**
     * $column.columnComment
     */
    #if($column.javaType == "String")
    @Xss
    @Size(max = ${column.size})
    #elseif($column.javaType == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd")
    #elseif($column.javaType == "LocalDateTime")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    #if($column.isUpdateRequired == 1)
        #if($column.javaType == "String")
    @NotEmpty
        #else
    @NotNull
        #end
    @ApiModelProperty(required = true, value = "$column.columnComment")
    #else
    @ApiModelProperty(required = false, value = "$column.columnComment")
    #end
    private $column.javaType $column.javaField;

    #end
#end
}
